.contact-headings {
  color: #808080;
  margin-bottom: 2.25rem;
}

.asterisk {
  color: #db272a;
  font-weight: bold;
}

//===Contact Form===//


input[type="text"], input[type="email"], textarea {
  width: 100%;
  resize: none;
  border: 1px solid #e1e1e1;
}

input[type="submit"] {
  color: white;
  font-size: 1rem;
  background-color: #400c0d;
  border-radius: 3px;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  line-height: 1;

  &:hover {
    background-color: #6A1414;
  }
}

.form-wrap {
  display: flex;
}

.your-name {
  flex-basis: 49%;
  margin-right: 0.25rem;

  label {
    color: #808080;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.your-email {
  flex-basis: 49%;
  margin-left: 0.25rem;

  label {
    color: #808080;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.subject {
  clear: both;

  label {
    color: #808080;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.message {
  flex-basis: 100%;

  label {
    color: #808080;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
