h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.hentry .entry-title {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

#price {
  margin-bottom: 1.5rem;
}

.entry-meta {
	color: #808080;
}

.cat-links {
  margin-right: 1.5rem;
}
